###################################
# Server
###################################
SERVER_PORT=3000
SERVER_SHUTDOWN_TIMEOUT=5

###################################
# Initial Admin User
###################################
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=
INIT_ADMIN_EMAIL=admin@example.com
INIT_ADMIN_NAME=Administrator

##################################
# Database
##################################
DATABASE_USER=rota
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=rota
