###################################
# Initial Admin User
###################################
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=
INIT_ADMIN_EMAIL=admin@example.com
INIT_ADMIN_NAME=Administrator

##################################
# Postgres
##################################
POSTGRES_USER=rota
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rota
