Hi {{.Name}},

Confirm this address to finish changing the email on your {{.ProductName}} account.

{{.CTALabel}}:
{{.ActionURL}}

{{.FallbackLabel}}
{{.ActionURL}}

This link expires in {{.ExpirationText}}. If this was not you, ignore this email.

{{.Footer}}
