Hi {{.Name}},

An email-change request was made for your {{.ProductName}} account.

Requested new address: {{.NewEmailPartial}}

If this was not you, change your password immediately and contact an administrator.

{{.Footer}}
