Hi {{.Name}},

{{if .HasOrganizationName}}An administrator from {{.OrganizationName}} has invited you to {{.ProductName}}. Set your password to finish setting up your account.{{else}}An administrator has invited you to {{.ProductName}}. Set your password to finish setting up your account.{{end}}

{{.CTALabel}}:
{{.ActionURL}}

{{.FallbackLabel}}
{{.ActionURL}}

This link expires in {{.ExpirationText}}. If you were not expecting this invitation, you can ignore this email.

{{.Footer}}
