Hi {{.Name}},

An administrator has invited you to Rota. Set your password to finish setting up your account.

{{.CTALabel}}:
{{.ActionURL}}

{{.FallbackLabel}}
{{.ActionURL}}

This link expires in {{.ExpirationText}}. If you were not expecting this invitation, you can ignore this email.

{{.Footer}}
