Hi {{.Name}},

Someone requested a password reset for your Rota account. Use this link if this was you.

{{.CTALabel}}:
{{.ActionURL}}

{{.FallbackLabel}}
{{.ActionURL}}

This link expires in {{.ExpirationText}}. If this was not you, ignore this email and keep your current password.

{{.Footer}}
